asgiref==3.9.1
certifi==2025.8.3
charset-normalizer==3.4.3
colorama==0.4.6
crispy-bootstrap5==2025.6
decorator==5.2.1
Django==4.2.23
django-auditlog==3.2.1
django-axes==8.0.0
django-cachalot==2.8.0
django-crispy-forms==2.4
django-debug-toolbar==6.0.0
django-ipware==7.0.1
django-prometheus==2.4.1
django-qsessions==2.0.0
django-ratelimit==4.1.0
django-serverside-datatable==2.1.0
django-turnstile==0.1.2
django-valkey==0.3.0
django-xforwardedfor-middleware==2.0
gunicorn==23.0.0
idna==3.10
jalali_core==1.0.0
jdatetime==5.2.0
libvalkey==4.0.1
packaging==25.0
pillow==11.3.0
prometheus_client==0.22.1
psutil==7.0.0
psycopg==3.2.9
pyte==0.8.2
python-dateutil==2.9.0.post0
python-ipware==3.0.0
redis==6.4.0
requests==2.32.5
six==1.17.0
sorl-thumbnail==12.11.0
sqlparse==0.5.3
thefuck==3.32
typing_extensions==4.14.1
ua-parser==1.0.1
ua-parser-builtins==0.18.0.post1
ua-parser-rs==0.1.3
urllib3==2.5.0
user-agents==2.2.0
valkey==6.1.1
wcwidth==0.2.13
